body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("https://cdn.discordapp.com/attachments/947669778590470167/1097225613095489616/wewew.png");
    background-size: 100% 100%;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Courier New', monospace;
    background-color: #564eaf;
    border: 1px solid #492f1b;
    color: white;
    padding: 8px 12px;
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 24px;
}

button:hover {
    background-color: #9991e7;
    color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 18px;
}

div {
    background-color: white;
    padding: 15px;
    margin: 10px;
}

section {
    padding: 10px;
    margin: 20px auto;
    max-width:1200px;
    background-color: #f14f4f;
    border-radius: 12px;
}

.form {
    font-size: 20px;
    background-color: #756ade;
    border-radius: 24px;
}

input[type=text] {
    width: 50px;
    box-sizing: border-box;
}